<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.labor.dao.ZjDGwlbMapper">
  <resultMap id="BaseResultMap" type="com.oracle.labor.po.ZjDGwlb">
    <id column="dmid" jdbcType="CHAR" property="dmid" />
    <result column="dmmc" jdbcType="CHAR" property="dmmc" />
    <result column="sfky" jdbcType="CHAR" property="sfky" />
    <result column="xh" jdbcType="INTEGER" property="xh" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dmid, dmmc, sfky, xh
  </sql>
  <select id="selectByExample" parameterType="com.oracle.labor.po.ZjDGwlbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zj_d_gwlb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from zj_d_gwlb
    where dmid = #{dmid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from zj_d_gwlb
    where dmid = #{dmid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.oracle.labor.po.ZjDGwlbExample">
    delete from zj_d_gwlb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.oracle.labor.po.ZjDGwlb">
    insert into zj_d_gwlb (dmid, dmmc, sfky, xh
      )
    values (#{dmid,jdbcType=CHAR}, #{dmmc,jdbcType=CHAR}, #{sfky,jdbcType=CHAR}, #{xh,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.oracle.labor.po.ZjDGwlb">
    insert into zj_d_gwlb
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dmid != null">
        dmid,
      </if>
      <if test="dmmc != null">
        dmmc,
      </if>
      <if test="sfky != null">
        sfky,
      </if>
      <if test="xh != null">
        xh,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dmid != null">
        #{dmid,jdbcType=CHAR},
      </if>
      <if test="dmmc != null">
        #{dmmc,jdbcType=CHAR},
      </if>
      <if test="sfky != null">
        #{sfky,jdbcType=CHAR},
      </if>
      <if test="xh != null">
        #{xh,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.oracle.labor.po.ZjDGwlbExample" resultType="java.lang.Long">
    select count(*) from zj_d_gwlb
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update zj_d_gwlb
    <set>
      <if test="record.dmid != null">
        dmid = #{record.dmid,jdbcType=CHAR},
      </if>
      <if test="record.dmmc != null">
        dmmc = #{record.dmmc,jdbcType=CHAR},
      </if>
      <if test="record.sfky != null">
        sfky = #{record.sfky,jdbcType=CHAR},
      </if>
      <if test="record.xh != null">
        xh = #{record.xh,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update zj_d_gwlb
    set dmid = #{record.dmid,jdbcType=CHAR},
      dmmc = #{record.dmmc,jdbcType=CHAR},
      sfky = #{record.sfky,jdbcType=CHAR},
      xh = #{record.xh,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.oracle.labor.po.ZjDGwlb">
    update zj_d_gwlb
    <set>
      <if test="dmmc != null">
        dmmc = #{dmmc,jdbcType=CHAR},
      </if>
      <if test="sfky != null">
        sfky = #{sfky,jdbcType=CHAR},
      </if>
      <if test="xh != null">
        xh = #{xh,jdbcType=INTEGER},
      </if>
    </set>
    where dmid = #{dmid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.oracle.labor.po.ZjDGwlb">
    update zj_d_gwlb
    set dmmc = #{dmmc,jdbcType=CHAR},
      sfky = #{sfky,jdbcType=CHAR},
      xh = #{xh,jdbcType=INTEGER}
    where dmid = #{dmid,jdbcType=CHAR}
  </update>
</mapper>